{% extends 'base.html' %}
{% block content %}
<h2>Signup</h2>
<form method="POST">
    <input class="form-control" name="email" placeholder="email" required><br>
    <input class="form-control" name="password" type="password" placeholder="Password" required><br>
    <input class="form-control" name="name" placeholder="name" required><br>
    <input class="form-control" name="address" placeholder="address" required><br>
    <input class="form-control" name="pin_code" placeholder="pin_code" required><br>
    <button class="btn btn-success" type="submit">Signup</button>
    <p class="mt-2">Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
</form>
{% endblock %}
